<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--der title erscheint im Browser-TAB-->
    <title>N27 - About</title>
<!--Im HEAD werden allgemeine Einstellungen zur Webseite festgelegt-->
</head>
<!--imbody steht der Inhalt der Webseite, also alles, was im Browser-->
<body>
 <h1>Über uns</h1> 
 <p>E-mail:</p>
 <p>support@n27-app.de</p>
 <p>Anschrift: Josefstr. 10, Borken</p>
 <p>Sitz: Borken</p>
 <p>Bankleitzahl: DE90123456781234567890</p>
 <p>Unternehmensname und Rechtsform</p>
 <p>Telefonnummer: 0876 123476</p>
 <p>Disclaimer: responsibility or liability for the frequency of provision and accuracy of the N27 app or any use made of the N27 app by the subscriber, whether or not arising from the negligence of any of N27 app or the Suppliers.</p>
</body>
</html>