
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    
    <title>N27 Startseite</title>
 
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Kurzbeschreibung der Webseiteninhalte" />
    <meta name="keywords" content="Schlüsselwörter,
 Schlagwörter" />
 
    
    <link rel="stylesheet" type="text/css" href="styles.css" />

</head>
<body>
    <div id="banner">
        <h1>N27</h1>
        <header>Herzlich Willkommen bei der N27-Bank</header>
    <p>
        <button aria-expanded="false">
            Zu meinem Konto
          </button>
        </p>
        <p>
          <button type="button">Einzahlen</button>
        </p>
        <p>
            <button type="button">Auszahlen</button>
          </p>
         <p>
          <button aria-haspopup="true">
            Kontostand
          </button>
        </p>
        <p>
            <button class="ofa_button">Seite verlassen</button>
        </p>
    <footer>Impressum</footer>
</div>
</body>
</html>

  <style>
    .ofa_button
        {
        background-color: #163EFF; /* Hintergrundfarbe */
        color: #FFFFFF; /* Textfarbe */
        border: none; /* Rahmen */
        padding: 10px; /* Innenabstand */
        text-align: center; /* Ausrichtung Text */
        font-size: 16px; /* Schriftgröße */
        }
    </style>
 
 

