
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    
    <title>N27 Startseite</title>
 
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Kurzbeschreibung der Webseiteninhalte" />
    <meta name="keywords" content="Schlüsselwörter,
 Schlagwörter" />
 
    
    <link rel="stylesheet" type="text/css" href="styles.css" />

</head>
<body>
    <div id="banner">
      <u><i><h1><p style="text-align:center">N27</p><h1></h1></i></u>
        <header><i><strong>Herzlich Willkommen bei der N27-Bank</strong></i></header>
    <p>
        <button aria-expanded="false">
            Zu meinem Konto
          </button>
        </p>
        <p>
          <button type="button">Einzahlen</button>
        </p>
        <p>
            <button type="button">Auszahlen</button>
          </p>
         <p>
          <button aria-haspopup="true">
            Kontostand
          </button>
        </p>
        <p>
            <button class="ofa_button">Seite verlassen</button>
        </p>
      <p><img src="logo.png" alt="Bank Logo" width="32" height="32"></p>
      <a href="https://berufskolleg-borken.de" target="_blank" >BKB</a>
    <footer><i>Impressum</i></footer>
</div>
</body>
</html>
