body {
    font-family: Arial, Helvetica, sans-serif; color:#ffffff;
    background-image: url('Hintergrund.jpg');
}
    .ofa_button
    {
    background-color: #4f95b6; /* Hintergrundfarbe */
    color: #000000; /* Textfarbe */
    border:black /* Rahmen */
    padding: 10px; /* Innenabstand */
    <text-align center> /* Ausrichtung Text */
    font-size:17px;/* Schriftgröße */ }
    
    ul {
        list-style: square inside url("icon_check.png");
      }